
<!DOCTYPE HTML>
<html>
<head>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' media="all" />
    <!-- //bootstrap -->
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' media="all" />
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <!--start-smoth-scrolling-->
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- //fonts -->
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('tgt_homepageA')}}">
                <h1>TGT</h1><br>
            </a><br>
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}

                {% endif %}
            </div>
        </div>
        {% block navbar %}
        <div id="navbar" class="navbar-collapse collapse">
            <div class="top-search">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <input type="submit" value=" ">
                </form>
            </div>
            <div class="header-top-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="file">
                        <a href="{{ path('publication_add') }}">Upload</a>
                    </div>
                    <div class="file">
                        <a href="{{ path('lignecommande_index') }}">Panier</a>
                    </div>
                    <div class="Logout signin">
                        <a href="{{ path('fos_user_security_logout') }}">Log out</a>
                    </div>
                {% else %}
                <div class="signin">
                    <a href="{{ path('fos_user_registration_register')}}" class="play-icon popup-with-zoom-anim">Sign Up</a>
                    <a href="{{path('fos_user_security_login')}}" class="play-icon popup-with-zoom-anim">Sign In</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        <div class="clearfix"> </div>
    </div>
</nav>

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="images/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="{{path('publication_list')}}" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="#" class="user-icon"><span class="glyphicon glyphicon-home glyphicon-blackboard" aria-hidden="true"></span>Events</a></li>
            <li><a href="#" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass" aria-hidden="true"></span>Talent</a></li>
            <li><a href="{{ path('commande_index') }}" class="news-icon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Mes Commandes</a></li>
            <li><a href="#" class="menu"><span class="glyphicon glyphicon-film glyphicon-king" aria-hidden="true"></span>Store<span class="glyphicon glyphicon-menu-down" ></span></a></li>
            <ul class="cl-effect-1">
                <li><a href="{{ path('tgt_stock_homepage') }}">Nos Produits</a></li>
                <li><a href="{{ path('categorie_read', { 'id': '1' }) }}">T-Shirt</a></li>
                <li><a href="{{ path('categorie_read', { 'id': '2' }) }}">Accessoire</a></li>
                <li><a href="{{ path('categorie_read', { 'id': '3' }) }}">Tickets</a></li>
                <li><a href="{{ path('categorie_read', { 'id': '4' }) }}">Others</a></li>
            </ul>

            <!-- script-for-menu -->
            <script>
                $( "li a.menu1" ).click(function() {
                    $( "ul.cl-effect-2" ).slideToggle( 300, function() {
                        // Animation complete.
                    });
                });
            </script>

            <!-- script-for-menu -->
            <script>
                $( "li a.menu" ).click(function() {
                    $( "ul.cl-effect-1" ).slideToggle( 300, function() {
                        // Animation complete.
                    });
                });
            </script>
            <li><a href="{{ path('post_index') }}" class="menu"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Forum</a></li>
            <ul class="cl-effect-1">
                <li><a href="{{ path('notification_affich') }}">Notifications{{ render(controller('ForumBundle:Notification:countu')) }}</a></li>
            </ul>
            <li><a href="{{ path('notification_affich') }}" class="news-icon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Notifications{{ render(controller('ForumBundle:Notification:countu')) }}</a></li>
        </ul>
        <!-- script-for-menu -->
        <script>
            $( ".top-navigation" ).click(function() {
                $( ".drop-navigation" ).slideToggle( 300, function() {
                    // Animation complete.
                });
            });
        </script>
        <div class="side-bottom">
            <div class="side-bottom-icons">
                <ul class="nav2">
                    <li><a href="#" class="facebook"> </a></li>
                    <li><a href="#" class="facebook twitter"> </a></li>
                    <li><a href="#" class="facebook chrome"> </a></li>
                    <li><a href="#" class="facebook dribbble"> </a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright © 2020 TGT. All Rights Reserved | Design by <a href="http://w3layouts.com/">BIT DEV</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% block body %}

    {% endblock %}
    {% block footer %}

    {% endblock %}
</div>
<div class="clearfix"> </div>
<div class="drop-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
    </ul>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>
</html>