{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if commande.etat %}Yes{% else %}No{% endif %}</td>
                <td>
                            <button><a href="{{ path('commande_show', { 'id': commande.id }) }}">show</a></button>
                            <button><a href="{{ path('commande_edit', { 'id': commande.id }) }}">edit</a></button>
                            <button><form name="form" method="post" action="/commande/{{ commande.id }}/delete"><input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" value="Delete">
                                    <input type="hidden" id="form__token" name="form[_token]" value="-ebgIJT7urprPOsNAUgDxfuujCMquPx3s1nELXbVXXQ"></form>
                            </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new commande</a>
        </li>
    </ul>
{% endblock %}
