

{% block body %}
<div>

    <h1><b>discussion</b></h1>
<div>
<table>
    <thead>
    <tr>
        <th>user</th>
        <th>id</th>
        <th>titre</th>
        <th>texte</th>
        <th>date</th>
        <th>lienimg</th>
        <th>action</th>
    </tr>
    </thead>

    <tbody>
    {% for u in discussion %}
        <tr>
            <td> {{  u.user }} </td>
            <td> {{  u.id }} </td>

            <td> {{  u.titre }} </td>
            <td> {{  u.texte}} </td>
            <td>Date{% if u.date %}{{ u.date|date('Y-m-d H:i:s') }}{% endif %}</td>

            <td><img src="{{ u.lienImg }}" width="{{ 220 }}"></td>

            <td> {% if app.user.username == u.user %}<a href="{{ path('discussion_edit', { 'id': u.id }) }}">edit</a>{% endif %}</td>
            <td>{% if app.user.username == u.user %}<a href="{{ path('discussion_delete', { 'id': u.id } )}}">delete</a>{% endif %}</td>

        </tr>
        {% endfor %}

    </tbody>
</table>

    <a href="{{ path('discussion_new',{ 'id': id }) }}">create discussion</a>
    <a href="{{ path('post_index') }}">retour au post</a>
</div>

</div>
{% endblock %}