
{% extends 'base.html.twig' %}
{% block body %}



    <div>{{ render(controller('ForumBundle:Post:readU',{'id':id}) ) }}</div>
    <h1>create discussion</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('post_index') }}" class="k">Back to posts</a>
        </li>
    </ul>
{% endblock %}
