{% extends 'base.html.twig' %}

{% block body %}
    <h1>Discussion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discussion.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ discussion.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ discussion.texte }}</td>
            </tr>
            <tr>
                <th>Lienimg</th>
                <td>{{ discussion.lienImg }}</td>

            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('discussion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('discussion_edit', { 'id': discussion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
