{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Modification d'un événement</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" onclick="verif2()"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('evenement_indexadmin') }}">Revenir à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
